<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li><a href="https://www.github.com/erodner" class="icon brands fa-github"><span class="label">Github</span></a></li>
            <li><a href="https://scholar.google.de/citations?user=2ItLnFgAAAAJ&hl=de" class="icon brands fa-google-scholar"><span class="label">Google Scholar</span></a></li>
            <li><a href="https://orcid.org/0000-0002-3711-1498" class="icon brands fa-orcid"><span class="label">ORC-ID</span></a></li>
            <li><a href="https://dblp.org/pid/90/5428.html" class="icon solid fa-book"><span class="label">DBLP</span></a></li>
            <li><a href="https://openreview.net/profile?id=~Erik_Rodner2" class="icon solid fa-person-chalkboard"><span class="label">OpenReview</span></a></li>
            <li><a href="https://www.linkedin.com/in/erik-rodner-6914a263/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a href="https://www.htw-berlin.de/hochschule/personen/person/?eid=12811" class="icon solid fa-university"><span class="label">University page</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Erik Rodner</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.poptrox.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>



