	<!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="https://kiwerkstatt.htw-berlin.de" class="image avatar"><img src="images/ki_werkstatt_logo.svg" alt="" /></a>
            <a href="https://www.htw-berlin.de/hochschule/personen/person/?eid=12811" class="image avatar"><img src="images/htw.svg" alt="" /></a>
            <h1><strong>Prof. Dr. Erik Rodner</strong><br />
            Professor for Data Science and Machine Learning<br />
            University of Applied Sciences Berlin</h1>
        </div>
    </header>